body{
    margin:0px;
}
header{
    width: 100%;
    height:250px;
    border: 0px solid #000000;
    background-image: url(cabecera.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: top;
}
div{
    height: 600px;
    text-align: center;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    overflow: auto;
    background-color: #FFE7C0;
    padding-left: 2%;
    padding-right: 2%;
}
#prim{
    padding-top:5%;
    height: 500px;
}
#err{
    padding-top:5%;
    height: 500px;

}
div p{
    font-size: 16pt;
}
table{
    width: 100%;
}
table,td,tr{
    background-color: white;
    border:solid black 2px;
    border-collapse: collapse;
}
input, button{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
button{
    margin:2px;
}